<!-- File: backend/templates/emails/newsletter_confirmation.html -->
{% extends "emails/b2c_base_template.html" %}
{% block content %}
    <h2 style="font-size: 24px; color: #374151; font-family: 'Teko', serif;">Confirmation de votre abonnement</h2>
    <p>Bonjour,</p>
    <p>Vous êtes bien inscrit(e) à la newsletter de Maison Trüvra. Vous recevrez bientôt de nos nouvelles avec des informations exclusives, des recettes et un accès anticipé à nos produits.</p>
    <p>Si vous souhaitez vous désinscrire, vous pouvez le faire à tout moment en cliquant sur le lien "se désinscrire" au bas de nos newsletters.</p>
{% endblock %}
