<!DOCTYPE html>
<html lang="fr" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Maison Truv-ra{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block head_extra %}{% endblock %}
</head>
<body class="h-full bg-white">

    <div id="header-placeholder"></div>

    <main class="isolate">
        {% block content %}{% endblock %}
    </main>

    <div id="footer-placeholder"></div>
    
    <!-- Container for Vue notifications -->
    <div id="notification-container" class="fixed top-5 right-5 z-50"></div>
    
    <!-- Container for the Cookie Banner -->
    <div id="cookie-banner-container"></div>

    {% block page_script %}{% endblock %}
    <!-- Load the cookie banner on all pages that use this template -->
    <script src="{{ url_for('static', filename='js/cookie-banner-loader.js') }}" type="module" defer></script>
</body>
</html>
