<!-- File: backend/templates/emails/password_change_confirmation.html -->
{% extends "emails/general_base_template.html" %}
{% block content %}
    <h2 style="font-size: 24px; color: #374151; font-family: 'Teko', serif;">Alerte de Sécurité : Mot de passe modifié</h2>
    <p>Bonjour {{ user.first_name }},</p>
    <p>Ceci est une notification pour confirmer que le mot de passe de votre compte a été modifié avec succès le {{ timestamp }}.</p>
    <p>Si vous êtes à l'origine de cette modification, vous pouvez ignorer cet e-mail.</p>
    <p><strong>Si vous n'avez pas autorisé ce changement,</strong> veuillez contacter immédiatement notre support et réinitialiser votre mot de passe.</p>
{% endblock %}
